<!-- <header>
  <img src="assets/angular-logo.png" alt="The Angular logo: The letter 'A'" />
  <h1>Let's get started!</h1>
  <p>Time to learn all about Angular! Lets roll it up!</p>
</header> -->
<app-header></app-header>

<main>
  <ul id="users">
    <!-- <li>
      <app-user [avatar]="users[0].avatar" [name]="users[0].name" [id]="users[0].id" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [avatar]="users[1].avatar" [name]="users[1].name" [id]="users[1].id" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [avatar]="users[2].avatar" [name]="users[0].name" [id]="users[2].id" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [avatar]="users[3].avatar" [name]="users[0].name" [id]="users[3].id" (select)="onSelectUser($event)" />
    </li> -->
    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)" />
    </li> -->


    <!-- Dynamically Rendering - Angular syntax : track allows to define unique constraint for the list make sure the update to users list is efficient-->
   <!-- Angular version from 17 -->
    @for (user of users; track user.id) {
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" [selected]="user.id === selectedUserId"/>
    </li> 
   }

  </ul>

  
  @if (selectedUser) {
    <app-tasks [name] = "selectedUser.name" [userId]="selectedUser.id"/>
  } @else {
    <p id = "fall back"> Select a user to see their task</p> 
  }

</main>